.navbar {
    background-color: lightblue;
}

.quem-somos {
    background-color: lightskyblue;
}

.margin {
    padding-top: 10px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: lightsteelblue;
}

.bg-footer {
    background-color: black;
    color: white;
    margin: 0;
    padding-bottom: 10px;
}